<a href="https://colab.research.google.com/github/caioj/Codenation-DesafioDS/blob/master/Desafio_Notas_Enem_2016.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Descubra as melhores notas de matemática do ENEM 2016**
Você deverá criar um modelo para prever a nota da prova de matemática de quem participou do ENEM 2016.

**Tópicos**

Neste desafio você aprenderá:

- Lógica
- Análise de dados
- Estatística
- Regression

**Detalhes**

O contexto do desafio gira em torno dos resultados do ENEM 2016 (disponíveis no arquivo train.csv). Este arquivo, e apenas ele, deve ser utilizado para todos os desafios. Qualquer dúvida a respeito das colunas, consulte o Dicionário dos Microdados do Enem 2016.

Muitas universidades brasileiras utilizam o ENEM para selecionar seus futuros alunos e alunas. Isto é feito com uma média ponderada das notas das provas de matemática, ciências da natureza, linguagens e códigos, ciências humanas e redação, com os pesos abaixo:

- matemática: 3
- ciências da natureza: 2
- linguagens e códigos: 1.5
- ciências humanas: 1
- redação: 3

No arquivo test.csv crie um modelo para prever nota da prova de matemática (coluna NU_NOTA_MT) de quem participou do ENEM 2016.

Salve sua resposta em um arquivo chamado answer.csv com duas colunas: NU_INSCRICAO e NU_NOTA_MT.

Faça o upload do arquivo answer.csv usando o botão “Submeter resposta”.

In [0]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [0]:
from google.colab import files  #biblioteca utilizada para carregar os dados para o google colab
uploaded = files.upload()

Saving test.csv to test (2).csv
Saving train.csv to train (2).csv

## **Imports dos Datasets que iremos trabalhar**

In [0]:
# Imports dos Datasets que iremos trabalhar

#Import do arquivo de treino
enem_train = pd.read_csv('train.csv')
enem_train.head()

#Import do arquivo de teste
enem_test = pd.read_csv('test.csv')
enem_test.head()

                               NU_INSCRICAO  CO_UF_RESIDENCIA  ... Q027  Q047
0  73ff9fcc02f0a99919906c942c2e1a1042cdcf98                41  ...    C     A
1  71a95f9f1b91a82c65ad94abbdf9f54e6066f968                21  ...    F     A
2  b38a03232f43b11c9d0788abaf060f7366053b6d                23  ...  NaN     A
3  70b682d9a3636be23f6120fa9d6b164eb3c6002d                15  ...  NaN     A
4  715494628a50142ce8cb17191cfe6d0f3cae0934                41  ...  NaN     A

[5 rows x 47 columns]

## **Tratamento das Tabelas**

In [0]:
# Normalizando as Colunas

# Validações
target = 'NU_NOTA_MT'
print('\nTrain and Test Datasets have the same columns?:',
      enem_train.drop(target,axis=1).columns.tolist()==enem_test.columns.tolist())
print("\nVariables not in test but in train : ", 
      set(enem_train.drop(target,axis=1).columns).difference(set(enem_test.columns)))

#2 - Remover as colunas
dif = list(set(enem_train.drop(target,axis=1).columns).difference(set(enem_test.columns)))

enem_train.drop(dif,axis=1,inplace=True)

Train and Test Datasets have the same columns?: False

Variables not in test but in train :  {'Q043', 'IN_DEFICIT_ATENCAO', 'IN_MACA', 'NO_MUNICIPIO_PROVA', 'IN_LEITURA_LABIAL', 'IN_GUIA_INTERPRETE', 'SG_UF_NASCIMENTO', 'IN_PROVA_DEITADO', 'Q040', 'IN_LIBRAS', 'IN_LAMINA_OVERLAY', 'Q013', 'TX_RESPOSTAS_CN', 'IN_AUTISMO', 'CO_MUNICIPIO_PROVA', 'IN_LACTANTE', 'Q003', 'Q022', 'Q046', 'CO_MUNICIPIO_NASCIMENTO', 'Q050', 'TP_LOCALIZACAO_ESC', 'Q042', 'IN_SOROBAN', 'Q015', 'Q017', 'Q036', 'IN_BRAILLE', 'IN_OUTRA_DEF', 'TX_GABARITO_LC', 'Q018', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_RESIDENCIA', 'TX_RESPOSTAS_LC', 'TX_GABARITO_CN', 'IN_SALA_INDIVIDUAL', 'Q045', 'Q031', 'IN_LEDOR', 'IN_MOBILIARIO_ESPECIFICO', 'Unnamed: 0', 'IN_MARCA_PASSO', 'IN_CADEIRA_CANHOTO', 'CO_UF_PROVA', 'IN_MAQUINA_BRAILE', 'Q014', 'IN_DEFICIENCIA_FISICA', 'IN_ACESSO', 'Q005', 'Q039', 'IN_MATERIAL_ESPECIFICO', 'TX_RESPOSTAS_CH', 'SG_UF_ESC', 'Q030', 'Q035', 'IN_MEDICAMENTOS', 'IN_APOIO_PERNA', 'Q019', 'Q048', 'IN_CERTIFICADO', 'Q033', 'TX_RESPOSTAS_MT', 'IN_AMPLIADA_24', 'NU_ANO', 'IN_VISAO_MONOCULAR', 'IN_PROTETOR_AURICULAR', 'Q007', 'Q028', 'Q023', 'NO_MUNICIPIO_NASCIMENTO', 'IN_SURDO_CEGUEIRA', 'Q011', 'Q032', 'IN_CADEIRA_ESPECIAL', 'IN_AMPLIADA_18', 'CO_UF_NASCIMENTO', 'IN_SEM_RECURSO', 'IN_MEDIDOR_GLICOSE', 'Q034', 'IN_SONDA', 'IN_SALA_ESPECIAL', 'IN_DEFICIENCIA_MENTAL', 'IN_MESA_CADEIRA_RODAS', 'SG_UF_PROVA', 'Q041', 'Q021', 'IN_TRANSCRICAO', 'IN_DEFICIENCIA_AUDITIVA', 'TX_GABARITO_CH', 'CO_ESCOLA', 'NO_MUNICIPIO_ESC', 'Q037', 'CO_UF_ESC', 'TP_ESTADO_CIVIL', 'TP_PRESENCA_MT', 'CO_MUNICIPIO_RESIDENCIA', 'CO_UF_ENTIDADE_CERTIFICACAO', 'TP_SIT_FUNC_ESC', 'Q029', 'SG_UF_ENTIDADE_CERTIFICACAO', 'IN_NOME_SOCIAL', 'TX_GABARITO_MT', 'Q016', 'Q049', 'NO_ENTIDADE_CERTIFICACAO', 'Q038', 'IN_CADEIRA_ACOLCHOADA', 'Q009', 'Q020', 'Q010', 'Q012', 'Q008', 'IN_MESA_CADEIRA_SEPARADA', 'IN_COMPUTADOR', 'Q004', 'IN_MOBILIARIO_OBESO', 'IN_ESTUDA_CLASSE_HOSPITALAR', 'Q044', 'IN_SALA_ACOMPANHANTE'}

In [0]:
# Import do Sklearn para treinamento do nosso modelo
from sklearn.ensemble import RandomForestRegressor

In [0]:
modelo = RandomForestRegressor(n_estimators = 9000, n_jobs = -1, random_state = 0)

In [0]:
variaveis = ['NU_NOTA_CN', 'NU_NOTA_LC', 'NU_NOTA_CH', 'NU_NOTA_REDACAO', 'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5']

In [0]:
X = enem_train[variaveis]
y = enem_train['NU_NOTA_MT']

In [0]:
X = X.fillna(-1)

In [0]:
enem_train['NU_NOTA_MT'].isnull().sum()

2200

In [0]:
enem_train["NU_NOTA_MT"].fillna(-1, inplace = True)

In [0]:
#treinar o modelo
modelo.fit(X,y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=9000, n_jobs=-1, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
#Aplicando no modelo de teste
X_prev = enem_test[variaveis]
X_prev = X_prev.fillna(-1)
X_prev.head()

   NU_NOTA_CN  NU_NOTA_LC  ...  NU_NOTA_COMP4  NU_NOTA_COMP5
0       464.8       431.8  ...          100.0           40.0
1       391.1       548.0  ...          120.0          100.0
2       595.9       613.6  ...           80.0           80.0
3        -1.0        -1.0  ...           -1.0           -1.0
4       592.9       571.4  ...           80.0            0.0

[5 rows x 8 columns]

In [0]:
p = modelo.predict(X_prev)

In [0]:
p

array([411.52257778, 458.67857778, 611.85942222, ..., 718.26235556,
       458.36333333,  -1.        ])

In [0]:
sub = pd.Series(p, index = enem_test['NU_INSCRICAO'], name = 'NU_NOTA_MT')
sub.shape

(4576,)

In [0]:
sub.to_csv("answer.csv", header = True)